body{
    background: url(https://i.rutab.net/upload/2021/05/news/genshin/Concept-Art-Inazuma/Seirai-Island.jpg) no-repeat center /cover;
    height: 100vh;
}

html{
    overflow: hidden;
}

@media(max-width:400px){
    body{
        background: linear-gradient(180deg, blue 50% , yellow 50%);
    }
}

